header {
    background-color: lightblue;
    color: black;
}
 
h3 {
    background-color: lightblue;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}

.block {
    width: 100%;
    text-align: center;
}

.currentWeather {
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: darkblue;
}

.day {
    background-color: lightblue;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: darkblue;
  }

  .searchHistoryButton {
    color: white;
  }